:root {
	--ui-basecolor: #0c0c0d;
	--ui-background: #0c0c0d;
	--ui-darkcolor: #0c0c0d;
	--ui-accent: #3DAEE9;

	--tab-selection-background-color: var(--ui-basecolor) !important;
	--tab-hover-background-color: #45545E !important;
	--tab-border-color: hsla(0, 0%, 0%, 0.00) !important;
	--chrome-background-color: var(--ui-darkcolor) !important; /*includes tabstrip background*/
	--chrome-secondary-background-color: var(--ui-basecolor) !important; /*includes toolbar, urlbar*/
	--url-and-searchbar-background-color: var(--ui-background) !important;
	--chrome-selection-background-color: var(--ui-accent) !important;
	--chrome-nav-bar-controls-border-color: rgba(255, 255, 255, 0.00) !important; /*urlbar border*/
   
	--caption-min-color: 36, 209, 49;
	--caption-max-color: 252, 185, 15;
	--caption-close-color: 250, 55, 55;
	
	--uc-toolbar-height: 32px;
	
}

:root:not([uidensity="compact"]){--uc-toolbar-height: 38px}

#TabsToolbar{ visibility: collapse !important }

:root:not([inFullscreen]) #nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height));
}

tab, #sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar-header {
	visibility: collapse;
}
#sidebar, #sidebar-box {
	background:#0c0c0d!important
}
#main-window {
--toolbar-bgcolor:#0c0c0d!important
}

browser[type="content-primary"], browser, .tabbrowser-tabbox, tabbrowser tabpanels, #appcontent > #content {
    background-color: #0c0c0d !important;
}
#sidebar-splitter {
    border: none !important;
}
#urlbar, .searchbar-textbox {
  font-size: 11pt !important;
}

/*
Start Tab Center Redux CSS
*/

#tablist-wrapper.shrinked .tab:not(.pinned) {
  height: 29px !important;
  font-size: 1.3em;
}
.tab {
  max-width: 100vw;
}
#tablist {
  margin-right: -19px; 
  transition: margin-right 0s 1s;
}
#tablist-wrapper {
  overflow-x: hidden;
}
body.dark-theme {
  --tab-background-normal: #0c0c0d;
  --tab-background-pinned: 210, 9.289%, 0%;
  --tab-background-active: #1aa1ff;
  --tab-border-color: #0c0c0d !important;
  --menu-background: #0c0c0d !important;
}

/*
Dark Right-Click Menu
*/

menupopup {
	-moz-appearance: none !important;
	padding: 8px 2px 8px 2px !important;
	background-color: #0c0c0d !important;
	color: white !important;
	border: 0px solid !important;
	border-radius: 0px !important;
	min-width: 280px !important;
}

menuseparator {
	-moz-appearance: none !important;
	border: none !important;
	padding: 0.5px 0px 0.5px 0px !important;
	margin: 4px 8px 4px 8px !important;
	background-color: #404040 !important;
}

menuitem,
menu {
	-moz-appearance: none !important;
	color: #ffffff !important;
	padding: 3px 0px 3px 0px !important;
}

menuitem[disabled="true"],
menuitem[disabled="true"]>.menu-text {
	color: #777 !important;
}

menuitem:hover,
menu:hover,
menu[open="true"],
menuitem[_moz-menuactive="true"] {
	-moz-appearance: none !important;
	padding: 3px 0px 3px 0px !important;
	background-color: dodgerblue !important;
}

menugroup {
	padding: 0px !important;
	background-color: transparent !important;
	color: white !important;
}

menuitem>.menu-text,
menuitem>.menu-iconic-text {
	color: #ffffff !important;
}

menuitem[type="checkbox"] {
	padding-left: 8px !important;
	padding-top: 5.5px !important;
	padding-bottom: 5.5px !important;
}

menuitem[type="radio"] {
	padding-left: 8px !important;
	padding-top: 5.5px !important;
	padding-bottom: 5.5px !important;
}

menuitem[type="checkbox"]>.menu-iconic-text,
menuitem[type="radio"]>.menu-iconic-text {
	padding-left: 5px !important;
}

menuitem[checked="true"][type="checkbox"]>.menu-iconic-left {
	padding: 7px 0px 0px 0px !important;
	border: solid #ffffff !important;
	border-width: 0 0 2px 2px !important;
	transform: rotate(-45deg) scale(0.75);
	margin-bottom: 2px !important;
}

menuitem[checked="true"][type="radio"]>.menu-iconic-left {
	padding: 1px !important;
	border: solid #ffffff !important;
	height: 22px !important;
	border-radius: 100% !important;
	background: #ffffff !important;
	transform: scale(0.5);
}

menucaption {
	background-color: transparent !important;
	color: #ffffff !important;
}

#ContentSelectDropdown>menupopup {
	background-image: none !important;
}

#ContentSelectDropdown {
	padding: 0px !important;
}

menulist {
	-moz-appearance: none !important;
	padding: 4px 4px 4px 4px !important;
	border: 0px !important;
	background-color: #15202b !important;
}

menulist:hover {
	padding: 4px 4px 4px 4px !important;
	border: 0px !important;
	background-color: dodgerblue !important;
}

menulist[open="true"] {
	border: 0px !important;
	background-color: dodgerblue !important;
}
#context-back>.menu-iconic-left,
#context-forward>.menu-iconic-left,
#context-reload>.menu-iconic-left,
#context-stop>.menu-iconic-left,
#context-bookmarkpage>.menu-iconic-left {
	padding: 2px !important;
}


/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/window_control_placeholder_support.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Creates placeholders for window controls */
/* This is a supporting file used by other stylesheets */

/* This stylesheet is pretty much unnecessary if window titlebar is enabled */

/* This file should preferably be imported before other stylesheets */

/* Defaults for window controls on RIGHT side of the window */
/* Modify these values to match your preferences */
:root[tabsintitlebar]{
  --uc-window-control-width: 95px; /* Space reserved for window controls */
  --uc-window-drag-space-width: 5px; /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
}

#nav-bar{
  border-inline: var(--uc-window-drag-space-width,0px) solid var(--toolbar-bgcolor);
  border-inline-style: solid !important;
  border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-width,0px));
}

/* Use this pref to check Mac OS where window controls are on left */
/* This pref defaults to true on Mac and doesn't actually do anything on other platforms. So if your system has window controls on LEFT side you can set the pref to true */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  :root{ --uc-window-control-width: 72px; }
  :root[tabsintitlebar="true"]:not([inFullscreen]) #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-width,0px)) var(--uc-window-drag-space-width,0px)
  }
}

#toolbar-menubar{
  min-height:unset !important;
  height:var(--uc-toolbar-height) !important;
  position: relative;
}

#main-menubar{
  -moz-box-flex: 1;
  background-color: var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor);
  background-clip: padding-box;
  border-right: 30px solid transparent;
  border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor) 30px) 20 / 30px
}

#toolbar-menubar:not([inactive]){ z-index: 2 }
#toolbar-menubar[inactive] > #menubar-items {
  opacity: 0;
  pointer-events: none;
  margin-left: var(--uc-window-drag-space-width,0px)
}

/*
Custom buttons for min, max, close
*/

.titlebar-button {
	transition: all 0.3s ease !important;
	padding: 8px 10px !important;
    background: rgba(var(--dark-color), 1) !important;
}
.titlebar-button.titlebar-close {
	padding-right: 26px !important;
}
.titlebar-button > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	list-style-image: none;
	border-radius: 10px;
}

.titlebar-button.titlebar-min > .toolbarbutton-icon {
	background: rgba(var(--caption-min-color), 1); !important;
}
.titlebar-button.titlebar-max > .toolbarbutton-icon,
.titlebar-button.titlebar-restore > .toolbarbutton-icon {
	background: rgba(var(--caption-max-color), 1); !important;
}
.titlebar-button.titlebar-close > .toolbarbutton-icon {
    background: rgba(var(--caption-close-color), 1); !important;
}

.titlebar-button:hover > .toolbarbutton-icon {
	background: rgba(var(--third-accent-color), 1); !important;
}
.titlebar-button.titlebar-min:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-max:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-restore:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-close:hover > .toolbarbutton-icon {
	
}

/*
Temp fix for button box
*/

.titlebar-buttonbox-container {
  margin-right: -12px;
}

/*
Disable urlbar enlarge on focus
*/
#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
    animation-name: none !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
}
